<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learning Vue</title>
    <script src="https://unpkg.com/vue@3.0.0"></script>
  </head>
  <body>
    <div id="app">
      <!-- !Event handling -->
      {{counter}}
      <button @click.prevent="increaseCounter('CodeNerd', $event), sayHi()">
        Increase
      </button>

      <!-- !Conditional rendering -->
      <div v-if="isLoggedIn">
        <p>Hello CodeNerd</p>
      </div>
      <div v-else>
        <button>Log In</button>
        <button>Sing Up</button>
      </div>
      <p v-show="isLoggedIn">i am logged in</p>

      <ul>
        <li v-for="book in books">{{book}}</li>
      </ul>
    </div>

    <script src="app.js"></script>
  </body>
</html>
